/* Enter your Styles below! */


body { 
	
	background-color:#f3e9d2;
	 }



/*
font-family: proxima-nova, sans-serif;
font-weight: 300;


font-style: italic;
font-family: proxima-nova, sans-serif;
font-weight: 900;
font-style: normal;

font-style: normal;
font-family: proxima-nova, sans-serif;
font-weight: 800;

*/

.flex{
	align-items:center;
	width:60%;
	display:flex;
	margin:auto;
}



h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
	font-style: normal;
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    color:#592b0f;
}


h3 {
	font-size:25px;
	font-family: proxima-nova, sans-serif;
    font-weight: 600;
    color:#a68358;
	
}

h4 {
	font-size: 20px;
	font-style: italic;
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
}

blockquote {
	margin: 20px 60px;
	font-size: 20px;
	font-style: italic;
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
	
}


p{
	font-size:16px;
	font-family: proxima-nova, sans-serif;
    font-weight: 300;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a { 
	color:000;
	text-decoration: none;
	font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-size:16px;
	 }
a:hover { color: black; }

a:visited { color: black; }


.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 90%;
	margin: auto;
}

.grid div {
	background-color: #ccc;
	padding: 20px;
}

@media only screen and (min-width:768px) {
	body{
		background-color:skyblue;
	}

	.grid {
		grid-template-columns: 1fr 1fr;
		width: 70%;
	}
}

@media only screen and (min-width:1024px) {
	body{
		background-color:salmon;
	}
}

@media only screen and (min-width:1200px) {
	body{
		background-color:pink;
	}
}
/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/