/* Enter your Styles below! */


body { 
	 background-color:#f3e9d2;
	 }


nav{
	margin:auto;
    }
nav li{ 
    padding:20px;
		text-align:center;
    }



a { 
  color:000;
  text-decoration:none;
  font-family:proxima-nova, sans-serif;
  font-weight: 300;
  font-size:16px;
   }

a:hover {color: black;}

a:visited {color: black;}


/* ensures that your images stretch the width of their containers */
img { width: 100%; }



main {
  padding:30px;
  }



header {margin-bottom: 20px;}


h1 {
	font-size: 48px;
  }

h2 {
	 font-size: 36px;
	 font-style: normal;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    color:#592b0f;
    text-align:right;
    display: flex;
  	align-items: center;
  	justify-content: center;
    margin-bottom:20px;
    }

h2 span {
  margin: 0 15px;
  }

.line-h2:before {
  background:#592b0f;
  height: 1px;
  flex: 1;
  content: '';
  }

.line-left:before {
  background: none;
  }


h3 {
	font-size:25px;
	font-family: proxima-nova, sans-serif;
  font-weight: 500;
  color:#a68358;
  text-align: center;
  }

h4 {
	font-size: 20px;
	font-style: italic;
  font-family: proxima-nova, sans-serif;
  font-weight: 900;
  font-style: normal;
  }

blockquote {
	margin: 20px 60px;
	font-size: 18px;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height:1.2em;
	
  }



p{
  line-height: 1.2em;
  margin-bottom:20px;
	font-size:19px;
	font-family: proxima-nova, sans-serif;
  font-weight: 300;
  }



div.pecanturtle{
  padding:40px;
  }

div.seafoam-dark{
  padding:40px;
  }
    

div.caramel-dark{
  padding:40px;
  }



.main{
  padding:20px;
  }


.logo-link{
    min-width: 100px;
    max-width: 40%;
    }

.flex{
   align-items:center;
   width:60%;
   display:flex;
   margin:auto;
      }


.intro-text {
  width:400px;
  height:200px;
  align-content:center;
  }      

.about-section{
  align-content:left;

  }

.button {
  background-color: #a68358;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  margin-top:10px;
  }


.hompage-img{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: 20px;
  padding:20px;
  }


.pecanturtle-img{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
  }



.caramel-dark-img{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
  }



.seafoam-dark-img{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
  }


.jenny-img{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:30px;
  padding:20px;
  }


.process-img{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right:auto;
  padding:20px;

  }



.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  width: 90%;
  margin: auto;
  }

.grid div {
  padding: 20px;
  margin-bottom: 30px;
  }

.favorite-grid{
  display:grid;
  grid-template-columns: 1fr;
}

.footer{
    color: #592b0f;
    margin: 0px auto;
    padding-bottom:30px;
    width:100%;
    text-align: center;
    font-size: 12px;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
  }


/*------------------------------------------*/

@media only screen and (max-width:768px) {

  .topnav{
    visibility:hidden;
    } 

  .hompage-img{
    width: 90%;
    }

  .pecanturtle-img{
    width: 70%;
    }  

  .caramel-dark-img{
    width: 70%;
    }

  .seafoam-dark-img{
    width: 70%;
    }  
}


@media only screen and (min-width:768px) {
	body{
		background-color:  background: linear-gradient(
    to right, 
    #ffff 0%, 
    #ffff 50%, 
    #f3e9d2 50%, 
    #f3e9d2 100%;)}


	.grid {
		grid-template-columns: 1fr 1fr;
		width: 70%;
	 }

  .favorite-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    }

}


@media only screen and (min-width:1024px) {
	body{
	  background: linear-gradient(
    to right, 
    #ffff 0%, 
    #ffff 50%, 
    #f3e9d2 50%, 
    #f3e9d2 100%);
	  }


}


@media only screen and (min-width:1200px) {
	body{
		  background: linear-gradient(
    to right, 
    #ffff 0%, 
    #ffff 50%, 
    #f3e9d2 50%, 
    #f3e9d2 100%
  );
	}
}
