/* Enter your Styles below! */


body { 
	
	background-color:#f3e9d2;
	 }


nav{
	margin:auto;
}
nav li{ padding: 20px;
		text-align:center;
}



a { 
  color:000;
  text-decoration: none;
  font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-size:16px;
   }

a:hover { color: black; }

a:visited { color: black; }


.logo-link{
    min-width: 100px;
}

.flex{
	align-items:center;
	width:60%;
	display:flex;
	margin:auto;
}


main {
  padding:30px;
}



header {margin-bottom: 20px;}


h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
	font-style: normal;
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    color:#592b0f;
    text-align:right;
    display: flex;
 	align-items: center;
  	justify-content: center;

}

h2 span {
  margin: 0 15px;
}

h2:before {
  background:#592b0f;
  height: 1px;
  flex: 1;
  content: '';
}

h2.line-left:before {
  background: none;
}


h3 {
	font-size:25px;
	font-family: proxima-nova, sans-serif;
    font-weight: 600;
    color:#a68358;
    text-align: center;
	
}

h4 {
	font-size: 20px;
	font-style: italic;
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
}

blockquote {
	margin: 20px 60px;
	font-size: 23px;
	font-style: italic;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
	
}

.introtext {
	width:400px;
	height:200px;
	font-size:19px;
	font-family: proxima-nova, sans-serif;
  font-weight: 300;
  align-content:center;
}






p{
	font-size:16px;
	font-family: proxima-nova, sans-serif;
  font-weight: 300;
}


p .index{
  padding:10px;
}



.button {
  background-color: #a68358;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  margin-top:10px;
}


/* ensures that your images stretch the width of their containers */
img { width: 100%; }

.hompage-img{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: 20px;
  padding:20px;
 }


.pecanturtle-img{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
 }



.caramel-dark-img{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
 }



.seafoam-dark-img{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
 }



div.pecanturtle{
	padding:40px;
}

div.seafoam-dark{
	padding:40px;
}
		

div.caramel-dark{
	padding:40px;
}



 .grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  width: 90%;
  margin: auto;
}

.grid div {
  background-color: #ccc;
  padding: 20px;
}




@media only screen and (max-width:768px) {

  .topnav{
    visibility:hidden;

  }


  .hompage-img{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .pecanturtle-img{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }



.caramel-dark-img{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }



.seafoam-dark-img{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
 }

}






@media only screen and (min-width:768px) {
	body{
		background-color:  background: linear-gradient(
    to right, 
    #ffff 0%, 
    #ffff 50%, 
    #f3e9d2 50%, 
    #f3e9d2 100%
  );
	}


	.grid {
		grid-template-columns: 1fr 1fr;
		width: 70%;
	}


}


@media only screen and (min-width:1024px) {
	body{
	  background: linear-gradient(
    to right, 
    #ffff 0%, 
    #ffff 50%, 
    #f3e9d2 50%, 
    #f3e9d2 100%
  );
	}


}


@media only screen and (min-width:1200px) {
	body{
		  background: linear-gradient(
    to right, 
    #ffff 0%, 
    #ffff 50%, 
    #f3e9d2 50%, 
    #f3e9d2 100%
  );
	}
}
/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/